button:focus {outline:0;}

.Top-button{
    font-size: 110%!important;
    font-weight: 500!important;
    color: rgb(0, 0, 0);
    border: 2px solid #777777!important;
    background-color: #fff!important;
}
.Top-button:hover{
    background-color: #1690d6cc!important;
    color: rgb(255, 255, 255);
    border: 2px solid #212429!important;

}

.Top-button-project{
     font-size: 110%!important;
    font-weight: 500!important;
    color: rgb(255, 255, 255)!important;
    border: 2px solid #212429!important;
    background-color: #1690d6cc!important;
}

