.App {
  font-family: "Mulish", sans-serif;
}
.FontFamily{
  font-family: "Mulish", sans-serif;
}

.About-info {
  padding-left: 3px;
}
.Skills-info {
  padding-left: 1px;
}

.OverflowY {
  overflow-y: auto;
}
.Center{
  text-align: center;
}
 .MuiBox-root {
    padding:0px!important;
  }
@media (max-width: 768px) {
  .MuiBox-root {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
